#nav {
    position: fixed;
    top: 0;
    background-color: deepskyblue;
    width: 100%;
    margin: 0;
    height: 3rem;
}

#nav>h1 {
    margin: 0.5rem;
    margin-left: 1rem;
    color: white;
}

.main {
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
}

body {
    margin: 0;
}

.input-container {
    position: relative;
}

#inputarea {
    z-index: 0;
}

#jeetit {
    border: 0px;
    background-color: deepskyblue;
    border-radius: 17px;
    color: white;
    font-size: large;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 13px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}

.content {
    display: flex;
    margin-top: 1rem;
}

.recent {
    flex: 2;
    border: 1px solid red;
}

.user-profile {
    flex: 1;
    border: 1px solid green;
}

.user-profile>* {
    margin-left: 1rem;
}

#pro-pic {
    margin: 1.2rem;
}